<h1>ngClass | clases Dinamicas</h1>
<h2 [ngClass]="{dark: isDark, big: true}">Hola a todos!</h2>
<button (click)="toggleDark()">Toggle Dark</button>

<!-- parte trabajada con yt2:amazaing code con la carpeta components -->
<h1>Hola {{userName}}</h1>
<h2>Number: {{ number }}</h2>
<!-- eventos> () >va del html al ts -->
 <!-- databinding> [] >va del ts al html -->
<input type="text" [(ngModel)]="userName" (input)="addOne()" />

<!-- <h1 (click)="addOne()">Number: {{number}}</h1> -->

<!-- if -->
<h1>Bloque &#64;if - Renderizado dinamico</h1>
@if (condition) {
    <h2>La condicion se cumple</h2>
}
@else if (condition2) {
    <h2>La condicion2 se cumple</h2>
}
@else {
    <h2>Las condiciones no se cumplen</h2>
}
<!-- for -->
<h1>Bloque &#64;for - Renderizado de listas</h1>
@for (movie of movies; track movie) {
    <p>{{ $index + 1 }} - {{ movie }}</p>
}

<ul>
    @for (animal of animals; track animal.id) {
        <li>
            <h2>{{ animal.name }} </h2>
            <img [src]="animal.img" alt="animals" width="200" height="200" />
        </li>
    }
</ul>



<!-- component child -->
 <h1>&#64; input - comunicacion padre-hijo</h1>
 <app-child [msg]="text" [person]="person"></app-child>

<!-- component header -->
<h1>&#64; Output | Comunicacion hijo-padre</h1>
<h2>Hola {{ name }} </h2>
 <app-header (login)="setName($event)"></app-header>

<!-- component forms -->
<app-forms></app-forms>

<!-- components child1-child2 -->
<h1>&#64; Services | Instancias Globales - Singleton</h1>
<app-child1></app-child1>
<app-child2></app-child2>






<!-- de aqui para abajo se trabajo con yt1:midudev
 en componentes que estan fuera de la carpeta components -->
<app-user/>

<!-- trabajando con el componente de comments -->
<div>
    <h1>Angular</h1>
    <article>
        <p>Angular (comúnmente llamado Angular 2+ o Angular 2) es un framework para aplicaciones web desarrollado en TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página. Su objetivo es aumentar las aplicaciones basadas en navegador con capacidad de Modelo Vista Controlador (MVC), en un esfuerzo para hacer que el desarrollo y las pruebas sean más fáciles. </p>
        <p>La biblioteca lee el HTML que contiene atributos de las etiquetas personalizadas adicionales, entonces obedece a las directivas de los atributos personalizados, y une las piezas de entrada o salida de la página a un modelo representado por las variables estándar de JavaScript.</p>
        <p>Angular se basa en clases tipo "Componentes", cuyas propiedades son las usadas para hacer el binding de los datos. En dichas clases tenemos propiedades (variables) y métodos (funciones a llamar).</p>
    </article>

<!-- difer: hace una carga diferida state:low-->
@defer (on viewport) {
    <app-comments></app-comments>
} @placeholder {
    <p>Futuros comntarios</p>
} @loading {
    <p>Cargando comentarios...</p>
}
</div>

<router-outlet />
